@charset "UTF-8";
@font-face {
  font-family: "portfolio-icon";
  src: url("/resources/fonts/portfolio-icon.eot?z8794v");
  src: url("/resources/fonts/portfolio-icon.eot?z8794v#iefix") format("embedded-opentype"), url("/resources/fonts/portfolio-icon.ttf?z8794v") format("truetype"), url("/resources/fonts/portfolio-icon.woff?z8794v") format("woff"), url("/resources/fonts/portfolio-icon.svg?z8794v#portfolio-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "portfolio-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 40px;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "";
}

.icon-download:before {
  content: "";
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Colors */
/* Fonts */
/* Text Components */
.body-copy {
  font-family: "Lora", serif;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: #1E2834;
}
.body-copy li {
  margin-bottom: 0.2rem;
}

.post-script {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  text-align: center;
  margin: 2rem 0;
  font-style: italic;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.7);
}

.heading-1, .heading-2, .heading-3 {
  font-family: "Josefin Sans", sans-serif;
}

.heading-1 {
  font-size: 2.125rem;
  font-size: 2.25rem;
  line-height: 40px;
  line-height: 100%;
  font-weight: bold;
  color: #000000;
}

.heading-2 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 40px;
  color: #1E2834;
}

.heading-3 {
  font-size: 1.15rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  color: #1E2834;
  opacity: 0.75;
  font-style: italic;
  margin-top: 1.5rem;
}

.lead {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

a {
  text-decoration: none;
}

.hyperlink {
  color: rgba(17, 88, 191, 0.8);
}
.hyperlink:hover {
  color: #1158BF;
}
.hyperlink:active {
  color: #664DC0;
}

.hyperlink--black {
  color: #1564db;
}

.topics {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}

.type {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.navigation-link, .button {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.button {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.05rem;
  transition: color 200ms;
  cursor: pointer;
}
.button:hover {
  color: #393D49;
}

.subtitle {
  font-family: "Cardo", serif;
  font-family: "Lora", serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.date {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.outline-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.05rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.5);
}
.outline-item--selected {
  font-weight: 400;
  color: #1E2834;
}

.icon {
  padding: 8px;
}

figcaption {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.015rem;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-style: italic;
}
figcaption em {
  font-style: normal;
  font-weight: bold;
}

.positioned {
  position: relative;
}

.nav ul a li, .header li {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.04em;
  font-weight: 300;
  transition: color 0.2s;
}
.nav ul a li:hover, .header li:hover {
  color: black;
}
.nav ul a li.selected, .header li.selected {
  color: #1158BF;
}

.nav ul li, .header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #1E2834;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  padding: 16px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header .button {
  font-size: 0.8rem;
}
.header h1 {
  color: #393D49;
  font-size: 1rem;
  text-transform: uppercase;
}
.header li {
  list-style: none;
  padding-left: 40px;
  display: inline;
}
@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}

.nav {
  width: fit-content;
  float: right;
  position: sticky;
  top: 0;
  padding: 8px;
  z-index: 2;
}
.nav ul {
  list-style: none;
  margin: 40px;
  font-size: 1.5rem;
}
.nav ul li {
  margin: 12px 0;
  display: inline;
}
.nav ul a li {
  display: block;
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

.navigation-link.hyperlink {
  display: inline;
  color: #1158BF;
  text-transform: none;
}

.hero {
  height: 400px;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .hero {
    height: 320px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: 280px;
  }
}
@media screen and (max-width: 481px) {
  .hero {
    height: 224px;
  }
}

.content {
  margin: 80px auto 40px auto;
  padding: 32px;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .content {
    margin: 64px 0;
  }
}
@media screen and (max-width: 481px) {
  .content {
    margin: 40px 0;
  }
}

.about-info {
  display: flex;
  width: fit-content;
  margin: 32px 0;
  padding: 8px;
  position: relative;
  align-items: center;
}
.about-info .container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-info .container img, .about-info .container div {
  padding: 1rem;
}
.about-info .container img:hover {
  src: url("/Resources/profil2.jpeg");
}
.about-info .container > div {
  margin-left: 2em;
  align-items: center;
}
.about-info ul {
  list-style: none;
  padding: 0;
}
.about-info li {
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}
.about-info li a {
  text-transform: uppercase;
}
.about-info li p {
  display: inline;
  padding: 0 4px;
}
.about-info li:first-child {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: #393D49;
  line-height: 1.5rem;
}
.about-info img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: scale(1.5);
}
@media screen and (max-width: 768px) {
  .about-info {
    padding: 8px;
  }
}
.about-info hr {
  background-color: white;
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 40em;
}
@media screen and (max-width: 768px) {
  .article {
    max-width: none;
  }
}

.contact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: #EDEDED;
  padding: 80px;
}
.contact h1 {
  font-family: "Cardo", serif;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.3);
}
.contact .body-copy {
  text-align: center;
  margin: auto;
  margin-bottom: 24px;
  max-width: 40em;
  color: #1E2834;
}
.contact .button {
  color: #FFFFFF;
  background-color: #664DC0;
  width: fit-content;
  margin: auto;
  border-radius: 4px;
  padding: 8px 16px;
}
.contact .button:hover {
  color: #FFFFFF;
  background-color: rgba(102, 77, 192, 0.9);
}
.contact img {
  position: relative;
  top: 0;
  transform: translateY(-50%);
  left: 120px;
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 60px;
  }
  .contact .button {
    margin: 1em auto;
  }
}
@media screen and (max-width: 481px) {
  .contact {
    margin-top: 0;
    padding: 32px;
  }
  .contact .button {
    padding: 16px;
    width: auto;
    margin: 8px 0;
  }
  .contact h1 {
    margin-bottom: 8px;
  }
}

.image-placeholder {
  background-color: rgba(0, 0, 0, 0.15);
  height: 420px;
  max-width: 630px;
  margin-bottom: 1em;
  border-radius: 4px;
}

section {
  margin-bottom: 16px;
}

.flex {
  display: flex;
}

hr {
  margin: 0 64px;
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}

figure {
  margin: 16px 0;
}

footer {
  background-color: rgba(30, 40, 52, 0.9);
  padding: 16px;
}
footer div {
  display: flex;
  justify-content: center;
}
footer a.hyperlink {
  display: none;
  padding: 8px;
  font-size: 0.9rem;
  margin: 0 16px;
  color: #1564db;
}
footer p {
  padding: 16px;
  max-width: 28em;
  margin: 0 auto;
  font-family: "Lora", serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer {
    padding: 40px 16px;
  }
}

.footer--white {
  background-color: white;
  padding: 8px;
}
.footer--white p, .footer--white a.hyperlink {
  color: black;
  opacity: 0.3;
}
@media screen and (max-width: 768px) {
  .footer--white p, .footer--white a.hyperlink {
    font-size: 0.75rem;
  }
}

.collapsible__button {
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, 0.6);
  margin: 32px 0;
  padding: 16px 32px;
  width: 100%;
  border: none;
  display: flex;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
.collapsible__button.active, .collapsible__button:hover {
  background-color: #EDEDED;
}
.collapsible__button.active {
  margin-bottom: 0;
}

.collapsible__content {
  display: none;
  border: 1px solid #EDEDED;
  margin-bottom: 32px;
}

.burger-menu {
  transform: translateY(-100%);
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.burger-menu--open {
  transform: translateY(0);
}

.burger-menu__items {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  text-align: center;
}
.burger-menu__items .navigation-link--selected {
  border: none;
  padding-left: 8px;
}
.burger-menu__items li {
  font-size: 1.25rem;
  line-height: 200%;
}

.nav__burger, .nav__burger--open, .nav__burger--collabsed {
  margin: 16px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: none;
  fill: #1E2834;
  opacity: 0.8;
}

.nav__burger--open {
  display: none;
}

.bar {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  transition: transform 0.5s, background-color 1s ease-out;
}
.bar h1 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #1E2834;
  opacity: 0.8;
}
.bar--scrolling {
  transform: translateY(-56px);
}
.bar--transparent {
  background-color: transparent;
  box-shadow: none;
}
.bar--transparent .nav__burger, .bar--transparent .nav__burger--open, .bar--transparent .nav__burger--collabsed {
  fill: white;
}
.bar--transparent h1 {
  display: none;
}
@media screen and (max-width: 768px) {
  .bar {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .nav__burger--collabsed {
    display: block;
  }
}

/*# sourceMappingURL=components.css.map */
