@charset "UTF-8";
@font-face {
  font-family: "portfolio-icon";
  src: url("/resources/fonts/portfolio-icon.eot?z8794v");
  src: url("/resources/fonts/portfolio-icon.eot?z8794v#iefix") format("embedded-opentype"), url("/resources/fonts/portfolio-icon.ttf?z8794v") format("truetype"), url("/resources/fonts/portfolio-icon.woff?z8794v") format("woff"), url("/resources/fonts/portfolio-icon.svg?z8794v#portfolio-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "portfolio-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 40px;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "";
}

.icon-download:before {
  content: "";
}

* {
  margin: 0;
}

/* Colors */
/* Fonts */
/* Text Components */
.body-copy {
  font-family: "Lora", serif;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.9);
}
.body-copy li {
  margin-bottom: 0.2rem;
}

.post-script {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  text-align: center;
  margin: 2rem 0;
  font-style: italic;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.7);
}

.heading-1, .heading-2, .heading-3 {
  font-family: "Josefin Sans", sans-serif;
}

.heading-1 {
  font-size: 2.125rem;
  font-size: 2.25rem;
  line-height: 40px;
  line-height: 100%;
  font-weight: bold;
  color: #000000;
}

.heading-2 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 40px;
  color: #1E2834;
}

.heading-3 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  color: #393D49;
}

.lead {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.hyperlink, .hyperlink--black {
  font-family: "Lora", serif;
  color: #1158BF;
}

.hyperlink--black {
  color: #1564db;
}

.topics {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}

.type {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.navigation-link, .button {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-size: 1.1rem;
}

.button {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.05rem;
  transition: color 200ms;
  cursor: pointer;
}
.button:hover {
  color: #393D49;
}

.subtitle {
  font-family: "Cardo", serif;
  font-family: "Lora", serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.date {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.outline-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.05rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.5);
}
.outline-item--selected {
  font-weight: 400;
  color: #1E2834;
}

.icon {
  padding: 8px;
}

figcaption {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.015rem;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-style: italic;
}
figcaption em {
  font-style: normal;
  font-weight: bold;
}

:root {
  --margin: 240px;
  --offset: 80px;
  --offset-margin: 32px;
  --padding: 32px;
}

@media screen and (max-width: 768px) {
  :root {
    --offset: 40px;
    --margin: 80px;
  }
}
.skills h4, .offset h3, .references h3, .education h3, .intro h3 {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.skills h3, .offset h4, .references h4, .education h4, h5 {
  font-family: "Lora", serif;
  font-size: 1.25rem;
  line-height: 1.7rem;
  color: rgba(0, 0, 0, 0.8);
}

.heading-1 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 125%;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 var(--padding);
}

h5 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  text-align: right;
}

p {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  margin: 0.5rem 0;
}

section {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 120px 0;
}
section .container {
  display: flex;
  flex-flow: row wrap;
}
section .container > div {
  max-width: 28rem;
  padding: var(--padding);
}
@media screen and (max-width: 768px) {
  section .container > div {
    padding: 24px 8px;
  }
}

.intro {
  display: flex;
  padding-bottom: 120px;
}
.intro h2 {
  margin: 0 var(--margin);
}
.intro h3 {
  padding: 0 16px;
}
.intro p {
  margin: 16px;
  max-width: 32em;
  font-size: 1.1em;
  text-align: left;
}
.intro img {
  padding: 8px;
  margin: 16px;
  border-radius: 100%;
  object-fit: cover;
}
.intro .container {
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .intro h2 {
    text-align: center;
  }
  .intro p {
    text-align: justify;
  }
}

.education {
  background-color: rgba(0, 0, 0, 0.04);
}
.education h4 {
  color: #664DC0;
}
.education h5 {
  text-align: center;
  transform: translate(0, 0);
  width: auto;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
}

.references {
  background-color: rgba(0, 0, 0, 0.04);
}
.references h3 {
  color: #475bc3;
  font-family: "Lora", serif;
  font-size: 0.9rem;
  line-height: 1.7rem;
}
.references h4 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}
.references h5 {
  transform: translate(0, 0);
  width: auto;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  text-align: center;
}

.offset {
  margin: 80px 0;
}
.offset h2 {
  margin: 1rem 0;
  margin-left: calc(var(--offset) + var(--offset-margin));
  font-size: 3.25rem;
  text-align: left;
}
.offset h5 {
  width: var(--offset);
  transform: translateX(calc(-1 * var(--offset-margin)));
}
.offset .container {
  justify-content: center;
  margin: 0 8px;
}
.offset .item {
  margin-left: calc(var(--offset) + var(--offset-margin));
  width: 24rem;
}
.offset .item > div {
  display: flex;
  transform: translateX(calc( -1 * var(--offset) ));
  height: 28px;
}
@media screen and (max-width: 768px) {
  .offset h2 {
    margin: 0 var(--offset-margin);
    font-size: 3rem;
  }
  .offset h2, .offset h3, .offset h4, .offset p {
    text-align: center;
  }
  .offset h5 {
    width: auto;
    transform: translate(0, 0);
    text-align: center;
  }
  .offset .container > div > div {
    text-align: center;
    flex-direction: column-reverse;
    transform: translate(0);
    height: auto;
  }
  .offset .item {
    margin: 8px;
  }
}
@media screen and (max-width: 481px) {
  .offset h2 {
    font-size: 2.5rem;
  }
}

.centered {
  text-align: center;
}
.centered h2 {
  opacity: 0.9;
}
.centered h4, .centered h3 {
  opacity: 0.8;
}
.centered > div {
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}
.centered > div > div {
  width: 300px;
}

.skills {
  display: flex;
  flex-direction: column;
  background-color: rgba(71, 91, 195, 0.75);
}
.skills h2 {
  color: white;
  text-align: center;
  margin: 0 var(--margin);
}
.skills h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #EDEDED;
  margin: 0;
}
.skills h4 {
  color: #EDEDED;
}
.skills .container {
  justify-content: space-around;
}
.skills .container > div {
  justify-items: center;
  text-align: center;
}
.skills .container div:first-child {
  text-align: right;
}
.skills .container div:first-child h3 {
  text-align: right;
}
.skills .container div:last-child {
  text-align: left;
}
.skills .container div:last-child h3 {
  text-align: left;
}

.header {
  opacity: 100%;
  margin: 0;
  z-index: 100;
  background-color: white;
}

.header-container {
  margin: 0 calc(var(--offset) + var(--offset-margin));
  padding: 0 var(--padding);
}
.header-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .header-container {
    padding: 0 8px;
  }
}
@media screen and (max-width: 481px) {
  .header-container {
    padding: 0 var(--padding);
    margin: 0;
  }
}

main {
  margin: 0;
}

hr {
  margin: 0 var(--offset)var(--offset-margin);
}
@media screen and (max-width: 768px) {
  hr {
    margin: 0 var(--offset-margin);
  }
}

.footer {
  background-color: rgba(71, 91, 195, 0.02);
  background-color: #252a31;
  padding: 80px var(--offset)var(--offset-margin);
}
.footer a {
  padding: 16px;
  font-size: 0.9rem;
  margin: 0 16px;
  color: #1564db;
}
.footer p {
  padding: 16px;
  max-width: 28em;
  margin: 0 auto;
  font-family: "Lora", serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

/*# sourceMappingURL=cv.css.map */
