@charset "UTF-8";
@font-face {
  font-family: "portfolio-icon";
  src: url("/resources/fonts/portfolio-icon.eot?z8794v");
  src: url("/resources/fonts/portfolio-icon.eot?z8794v#iefix") format("embedded-opentype"), url("/resources/fonts/portfolio-icon.ttf?z8794v") format("truetype"), url("/resources/fonts/portfolio-icon.woff?z8794v") format("woff"), url("/resources/fonts/portfolio-icon.svg?z8794v#portfolio-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "portfolio-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 40px;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "";
}

.icon-download:before {
  content: "";
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Colors */
/* Fonts */
/* Text Components */
.body-copy {
  font-family: "Lora", serif;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: #1E2834;
}
.body-copy li {
  margin-bottom: 0.2rem;
}

.post-script {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  text-align: center;
  margin: 2rem 0;
  font-style: italic;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.7);
}

.heading-1, .heading-2, .heading-3 {
  font-family: "Josefin Sans", sans-serif;
}

.heading-1 {
  font-size: 2.125rem;
  font-size: 2.25rem;
  line-height: 40px;
  line-height: 100%;
  font-weight: bold;
  color: #000000;
}

.heading-2 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 40px;
  color: #1E2834;
}

.heading-3 {
  font-size: 1.15rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  color: #1E2834;
  opacity: 0.75;
  font-style: italic;
  margin-top: 1.5rem;
}

.lead {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

a {
  text-decoration: none;
}

.hyperlink {
  color: rgba(17, 88, 191, 0.8);
}
.hyperlink:hover {
  color: #1158BF;
}
.hyperlink:active {
  color: #664DC0;
}

.hyperlink--black {
  color: #1564db;
}

.topics {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}

.type {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.navigation-link, .button {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.button {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.05rem;
  transition: color 200ms;
  cursor: pointer;
}
.button:hover {
  color: #393D49;
}

.subtitle {
  font-family: "Cardo", serif;
  font-family: "Lora", serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.date {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.outline-item {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.05rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.5);
}
.outline-item--selected {
  font-weight: 400;
  color: #1E2834;
}

.icon {
  padding: 8px;
}

figcaption {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.015rem;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-style: italic;
}
figcaption em {
  font-style: normal;
  font-weight: bold;
}

.positioned {
  position: relative;
}

.heading-1, .subtitle {
  text-align: center;
}

.heading-1 {
  color: #393D49;
  font-size: 3.5rem;
  font-weight: 400;
}

.subtitle {
  font-size: 1.5rem;
  color: #b5a3f9;
  font-family: "Lato", sans-serif;
}

.lead {
  color: #858db8;
  font-size: 1.4rem;
  line-height: 1.5em;
  max-width: 28em;
  font-weight: 300;
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .lead {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    text-align: center;
  }
}

.landing {
  box-shadow: 2px 2px 16px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .landing {
    width: 100%;
  }
}

.lead, .landing {
  margin: 32px;
}

.flex-cols {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 80px auto;
}
@media screen and (max-width: 768px) {
  .flex-cols {
    flex-direction: column;
    margin: 40px auto;
  }
}

.flex-rows {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 80px auto;
}
@media screen and (max-width: 768px) {
  .flex-rows {
    margin: 40px auto;
  }
}

main {
  margin: 64px 16px;
  margin-top: 160px;
}

.contact-info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.3);
  color: #858db8;
  text-transform: uppercase;
}
.contact-info a, .contact-info p {
  display: inline;
  padding: 8px 24px;
}

.alert {
  display: flex;
  font-size: 1.4rem;
  max-width: 30em;
  margin: 16px;
}
.alert svg {
  align-self: center;
  opacity: 0.8;
  margin: 8px;
}
.alert p, .alert a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 150%;
  text-align: left;
}
.alert p {
  padding: 0 1rem;
  color: #858db8;
}
.alert a {
  padding-left: 4px;
}
.alert em {
  font-style: italic;
  color: #664DC0;
}
@media screen and (max-width: 481px) {
  .alert {
    bottom: 0;
  }
  .alert p, .alert a {
    text-align: left;
  }
}

/*# sourceMappingURL=home.css.map */
