@charset "UTF-8";
@font-face {
  font-family: "portfolio-icon";
  src: url("/resources/fonts/portfolio-icon.eot?8619gb");
  src: url("/resources/fonts/portfolio-icon.eot?8619gb#iefix") format("embedded-opentype"), url("/resources/fonts/portfolio-icon.ttf?8619gb") format("truetype"), url("/resources/fonts/portfolio-icon.woff?8619gb") format("woff"), url("/resources/fonts/portfolio-icon.svg?8619gb#portfolio-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "portfolio-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 32px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "";
}

.icon-download:before {
  content: "";
}

* {
  margin: 0;
}

/* Colors */
/* Fonts */
/* Text Components */
.body-copy {
  font-family: "Lora", serif;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.9);
}
.body-copy li {
  margin-bottom: 0.2rem;
}

.post-script {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  text-align: center;
  margin: 2rem 0;
  font-style: italic;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.7);
}

.heading-1, .heading-2, .heading-3 {
  font-family: "Josefin Sans", sans-serif;
}

.heading-1 {
  font-size: 2.125rem;
  font-size: 2.25rem;
  line-height: 40px;
  line-height: 100%;
  font-weight: bold;
  color: #000000;
}

.heading-2 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 40px;
  color: #1E2834;
}

.heading-3 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  color: #393D49;
}

.lead {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.hyperlink {
  font-family: "Lora", serif;
  color: #1158BF;
}

.topics {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}

.type {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.navigation-link, .button {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-size: 1.1rem;
}

.button {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.05rem;
  transition: color 200ms;
  cursor: pointer;
}
.button:hover {
  color: #393D49;
}

.subtitle {
  font-family: "Cardo", serif;
  font-family: "Lora", serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.date {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.outline-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.05rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.5);
}
.outline-item--selected {
  font-weight: 400;
  color: #1E2834;
}

.icon {
  padding: 8px;
}

figcaption {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.015rem;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-style: italic;
}
figcaption em {
  font-style: normal;
  font-weight: bold;
}

body {
  background-color: #1E2834;
  height: 100vh;
  overflow: hidden;
}

.header {
  min-height: 80px;
}
.header-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-container .nav__burger {
  margin: 0 1rem;
  align-self: flex-start;
}
.header .heading-1 {
  color: #FFFFFF;
  margin-bottom: 0;
}
.header .subtitle {
  color: rgba(181, 163, 249, 0.9);
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .header {
    position: absolute;
    top: 0;
    margin-top: 1.5rem;
    width: 100vw;
    min-height: 0;
  }
  .header-container {
    width: 100%;
  }
  .header .subtitle {
    color: #664DC0;
  }
}

.landing {
  background-image: url("/resources/landing.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  height: 70vh;
}
@media screen and (max-width: 768px) {
  .landing {
    background-image: url("/resources/musikkens hus 2 mobile.jpeg");
    height: 100vh;
    width: 100vw;
    position: absolute;
  }
}

.nav {
  color: #FFFFFF;
  padding: 0 60px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  background-color: rgba(30, 40, 52, 0.2);
}
.nav .navigation-link {
  text-transform: uppercase;
  color: #FFFFFF;
}
.nav .navigation-link--selected {
  color: #FFFFFF;
}
.nav .navigation-link:hover {
  background-color: #664DC0;
}

main {
  margin: 0 160px;
}
@media screen and (max-width: 1388px) {
  main {
    margin: 0 80px;
  }
}
@media screen and (max-width: 1024px) {
  main {
    margin: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  main {
    margin: 0;
    height: 100vh;
  }
}

.contact-info {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.contact-info .container {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotateZ(-90deg) translate(-16px, -120%);
  display: flex;
  justify-content: space-between;
  width: 70vh;
  height: 16px;
}
.contact-info .container > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contact-info .container a {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  color: rgba(237, 237, 237, 0.7);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.contact-info .container a:hover {
  color: #EDEDED;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.alert {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  max-width: 30rem;
  padding: 0.5rem;
  height: fit-content;
  position: absolute;
  bottom: 1rem;
}
.alert svg {
  align-self: center;
  opacity: 0.8;
  min-width: 24px;
  height: 32px;
}
.alert p, .alert a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Lato", sans-serif;
  letter-spacing: 0.02rem;
  font-size: 0.85rem;
  text-align: center;
}
.alert p {
  padding: 0 1rem;
}
.alert a {
  text-decoration: underline;
}
@media screen and (max-width: 481px) {
  .alert {
    bottom: 0;
  }
  .alert p, .alert a {
    text-align: left;
  }
}

/*# sourceMappingURL=home.css.map */
