@charset "UTF-8";
@font-face {
  font-family: "portfolio-icon";
  src: url("/resources/fonts/portfolio-icon.eot?z8794v");
  src: url("/resources/fonts/portfolio-icon.eot?z8794v#iefix") format("embedded-opentype"), url("/resources/fonts/portfolio-icon.ttf?z8794v") format("truetype"), url("/resources/fonts/portfolio-icon.woff?z8794v") format("woff"), url("/resources/fonts/portfolio-icon.svg?z8794v#portfolio-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "portfolio-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 40px;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "";
}

.icon-download:before {
  content: "";
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Colors */
/* Fonts */
/* Text Components */
.body-copy {
  font-family: "Lora", serif;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: #1E2834;
}
.body-copy li {
  margin-bottom: 0.2rem;
}

.post-script {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  text-align: center;
  margin: 2rem 0;
  font-style: italic;
  line-height: 150%;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.7);
}

.heading-1, .heading-2, .heading-3 {
  font-family: "Josefin Sans", sans-serif;
}

.heading-1 {
  font-size: 2.125rem;
  font-size: 2.25rem;
  line-height: 40px;
  line-height: 100%;
  font-weight: bold;
  color: #000000;
}

.heading-2 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 40px;
  color: #1E2834;
}

.heading-3 {
  font-size: 1.15rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  color: #1E2834;
  opacity: 0.75;
  font-style: italic;
  margin-top: 1.5rem;
}

.lead {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

a {
  text-decoration: none;
}

.hyperlink {
  color: rgba(17, 88, 191, 0.8);
}
.hyperlink:hover {
  color: #1158BF;
}
.hyperlink:active {
  color: #664DC0;
}

.hyperlink--black {
  color: #1564db;
}

.topics {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}

.type {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.navigation-link, .button {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.button {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.05rem;
  transition: color 200ms;
  cursor: pointer;
}
.button:hover {
  color: #393D49;
}

.subtitle {
  font-family: "Cardo", serif;
  font-family: "Lora", serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.date {
  font-family: "Lora", serif;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.outline-item {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.05rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.5);
}
.outline-item--selected {
  font-weight: 400;
  color: #1E2834;
}

.icon {
  padding: 8px;
}

figcaption {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.015rem;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-style: italic;
}
figcaption em {
  font-style: normal;
  font-weight: bold;
}

.positioned {
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  margin: 0;
}
@media screen and (max-width: 768px) {
  main {
    margin: 0;
  }
  main .image-container {
    position: relative;
  }
}

.content {
  padding: 0;
}

.heading-1 {
  font-size: 3rem;
}

.heading-2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: left;
  text-align: center;
}
@media screen and (max-width: 481px) {
  .heading-2 {
    font-size: 1.7rem;
  }
}

.subtitle {
  font-size: 1.2rem;
  margin: 1rem 0;
  text-align: center;
  font-weight: normal;
}

.type {
  margin-bottom: 0.5rem;
}

.body-copy {
  text-align: left;
  text-align: center;
  font-family: "Lora", serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 481px) {
  .body-copy {
    font-size: 20px;
  }
}

.heading-3, .topics {
  display: inline-block;
}

.cases {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
.cases .case:first-child, .cases .case--reverse:first-child, .cases .case--right:first-child {
  margin-top: 0;
}
.cases .case:last-child, .cases .case--reverse:last-child, .cases .case--right:last-child {
  margin-bottom: 0;
}

.case, .case--reverse, .case--right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 80px;
  position: relative;
}
.case > div, .case--reverse > div, .case--right > div {
  width: 50%;
}
.case .text-container, .case--reverse .text-container, .case--right .text-container {
  margin: 0 1rem;
  align-self: center;
}
.case .text-container p, .case--reverse .text-container p, .case--right .text-container p {
  max-width: 32em;
  margin: 0 auto;
}
.case .image-container, .case--reverse .image-container, .case--right .image-container {
  display: flex;
  justify-content: center;
}
.case .button, .case--reverse .button, .case--right .button {
  display: block;
  color: white;
  font-size: 1rem;
  transition: background-color 200ms, box-shadow 200ms ease-in-out;
}
.case--right {
  margin: 80px 0;
}
.case--right .text-container {
  margin: 0 80px;
}
.case--reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1024px) {
  .case > div, .case--right > div, .case--reverse > div {
    width: 100%;
  }
  .case .text-container, .case--right .text-container, .case--reverse .text-container {
    margin: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .case, .case--reverse, .case--right {
    margin: 64px 16px;
    flex-direction: column-reverse;
  }
  .case .text-container, .case--right .text-container, .case--reverse .text-container {
    margin-bottom: 64px;
  }
  .case .text-container p, .case--right .text-container p, .case--reverse .text-container p {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
img.bordered {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 16px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 0;
  }

  .cases {
    margin-bottom: 0;
  }
}
#ascendant-games .subtitle {
  color: #d32d2d;
}
#ascendant-games .button {
  background-color: rgba(211, 45, 45, 0.7);
}
#ascendant-games .button:hover {
  background-color: rgba(211, 45, 45, 0.85);
}

#flyfotos .mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  #flyfotos .big {
    display: none;
  }
  #flyfotos .mobile {
    display: flex;
  }
}
#flyfotos .subtitle {
  color: #6a9ace;
}
#flyfotos .button {
  background-color: rgba(106, 154, 206, 0.7);
}
#flyfotos .button:hover {
  background-color: rgba(106, 154, 206, 0.85);
}

#naturbasen .subtitle {
  color: #789fe6;
}
#naturbasen .button {
  background-color: rgba(120, 159, 230, 0.7);
}
#naturbasen .button:hover {
  background-color: rgba(120, 159, 230, 0.85);
}

#musical-composition .subtitle {
  color: #fab16c;
}
#musical-composition .button {
  background-color: rgba(250, 177, 108, 0.7);
}
#musical-composition .button:hover {
  background-color: rgba(250, 177, 108, 0.85);
}

#icu .subtitle {
  color: #ff4848;
}
#icu .button {
  background-color: rgba(255, 72, 72, 0.7);
}
#icu .button:hover {
  background-color: rgba(255, 72, 72, 0.85);
}

/*# sourceMappingURL=porfolio-overview.css.map */
