.header .signature a {
  font-family: "Sacramento", cursive;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #1670A3;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  color: #1f1f1f;
}

h1, h2, h3 {
  font-family: "Lato", sans-serif;
}

.button {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.button a {
  color: white;
}

button:hover {
  background-color: black;
}

.icon {
  height: 32px;
  width: 32px;
  margin: 8px;
  box-sizing: border-box;
}

.header a {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: #394c70;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
  cursor: pointer;
}
.nav ul {
  list-style: none;
}
.nav li a {
  padding: 1.5em 1em;
}
.nav li a:hover {
  color: #FEB48B;
}
.nav__links {
  height: 100%;
  display: flex;
}
.nav__links li {
  padding: 0 20px;
  display: inline;
}
.nav__links li a {
  font-weight: bold;
  letter-spacing: 2px;
  color: #f1f1f1;
}
.nav__links li a:hover {
  padding-bottom: 20px;
}
@media screen and (max-width: 1439px) {
  .nav__links {
    display: none;
  }
}
.nav--open {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 4rem 3rem;
  background-color: rgba(28, 39, 54, 0.8);
  flex-direction: column;
  justify-content: center;
}
.nav--open h1 {
  text-transform: uppercase;
}
.nav--open li {
  padding-top: 1em;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: right;
}
.nav--open a {
  color: #f1f1f1;
}
@media screen and (max-width: 1439px) {
  .nav {
    padding: 0;
  }
}

.nav__burger {
  display: none;
  margin: 2em;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
}
.nav__burger--open {
  stroke: #f1f1f1;
}
.nav__burger--open:hover {
  stroke: #FEB48B;
}
.nav__burger--collabsed {
  fill: #f1f1f1;
}
.nav__burger--collabsed:hover {
  fill: #FEB48B;
}

.portfolio-subnav {
  display: none;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 4rem;
  z-index: 0;
  justify-content: center;
  background-color: rgba(28, 39, 54, 0.8);
}
.portfolio-subnav li {
  list-style: none;
  padding: 2em;
  font-size: 22px;
  letter-spacing: 2px;
}
.portfolio-subnav a {
  color: #f1f1f1;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  height: 4rem;
  transition-duration: 0.6s;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.header .signature {
  font-size: 1.5rem;
  padding-left: 2rem;
}
.header .signature a {
  color: white;
}
.header .signature a:hover {
  border: none;
}
.header--scrolling {
  background-color: #1c2736;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.header--scrolling a:hover {
  border-bottom: 4px solid #FEB48B;
}
.header--hidden {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
}

h1 {
  font-size: 1.5em;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3rem;
  background-color: #141B24;
}
.footer .flex-child {
  padding: 1rem;
}
.footer a {
  font-size: 1em;
  color: #f1f1f1;
}
.footer h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 0.5em;
  color: #f1f1f1;
}
.footer p {
  color: #f1f1f1;
  max-width: 30em;
}
.footer__button {
  height: fit-content;
  width: fit-content;
  border: 1px solid #1670A3;
  padding: 8px;
  margin: 1em;
  font-weight: 100;
}
.footer__button:hover {
  background-color: #1670A3;
}

#landing {
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
}
#landing #profil {
  object-fit: cover;
  display: block;
  border-radius: 100%;
  margin: 1rem;
  width: 140px;
  height: 140px;
}

@media screen and (max-width: 70rem) {
  .about {
    transform: translateY(-79px);
  }
}

@media screen and (max-width: 70rem) {
  img.abstract {
    display: none;
  }
}

.abstract {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
  margin: 0;
}
.abstract__left {
  width: 30%;
  background-color: #FEB48B;
  float: left;
}
@media screen and (max-width: 70rem) {
  .abstract__left {
    height: 0%;
  }
}
.abstract__right {
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #536E9F;
}
@media screen and (max-width: 70rem) {
  .abstract__right {
    width: 100%;
    height: 70%;
    align-items: center;
  }
}

.landing__hero {
  display: none;
}
@media screen and (max-width: 70rem) {
  .landing__hero {
    display: flex;
    align-self: flex-start;
    overflow: hidden;
    z-index: -1;
    height: 30vh;
    width: 100vw;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 0 2rem;
  color: #f1f1f1;
}
.about h1, .about h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: fit-content;
  font-size: 2rem;
  font-weight: 800;
  padding: 0;
  text-transform: uppercase;
}
.about h2 {
  font-size: 1.4rem;
  font-weight: 100;
}
.about p {
  color: #f1f1f1;
  max-width: 28em;
  margin-bottom: 1em;
}
.about__button {
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  border: 1px solid white;
}
.about__button a {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.about__button:hover {
  background-color: #394c70;
}
@media screen and (max-width: 1439px) {
  .about h1 {
    font-size: 2.2rem;
  }
  .about h1, .about h2 {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 399px) {
  .about h1 {
    font-size: 2rem;
  }
  .about h2 {
    font-size: 1.1rem;
    font-weight: 100;
  }
}

#signature {
  width: 100px;
  height: auto;
  stroke: #1f1f1f;
  stroke-width: 15;
}

.portfolio {
  position: relative;
  background-color: #1c2736;
  color: white;
}
.portfolio p {
  color: #f1f1f1;
  position: relative;
  background-color: #1c2736;
}
.portfolio h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
  font-weight: 400;
  padding-bottom: 1rem;
}
.portfolio h4, .portfolio h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: lighter;
}
.portfolio b {
  padding-right: 0.5em;
}
.portfolio__hero {
  position: relative;
  background-color: #394c70;
  height: 70vh;
}
.portfolio__hero h2 {
  display: none;
  font-size: 96px;
  font-weight: 100;
  position: absolute;
  bottom: 4rem;
  width: 100%;
  height: calc(50% - 0.48px);
  text-align: center;
  z-index: 1;
}
.portfolio__background {
  height: 100%;
  opacity: 0.2;
  background-size: contain;
  background-attachment: fixed;
}
.portfolio__bar {
  height: 0.5rem;
}
.portfolio__content {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  align-items: center;
  padding: 15vh 5vw;
  justify-content: center;
}
.portfolio__content .image {
  padding: 2rem;
  width: 50%;
  height: auto;
  max-width: 40rem;
}
@media screen and (max-width: 70rem) {
  .portfolio__content .image {
    width: 100%;
  }
}
.portfolio__content .image img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.portfolio__content .description {
  width: 50%;
  max-width: 45rem;
  padding: 2rem;
}
@media screen and (max-width: 70rem) {
  .portfolio__content .description {
    width: 100%;
  }
}
.portfolio__content .description .categories {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.portfolio__content .description .title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.portfolio__content .description p {
  margin-top: 2rem;
}
.portfolio__button {
  display: flex;
  width: fit-content;
  align-self: center;
  margin: auto;
  margin-top: 2rem;
  background-color: #EB6B74;
}
.portfolio__button a {
  font-size: 22px;
  font-weight: 300;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.portfolio__button .close {
  display: none;
}
.portfolio__button:hover {
  background-color: #FEB48B;
}

button:hover {
  background-color: black;
}

.animate-top {
  position: relative;
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes animatetop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.loading-animation {
  opacity: 0;
  animation-name: loading;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.animation-fade-in {
  opacity: 1;
  animation: fade-in 2s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#naturbasen-prototype {
  border: none;
  width: 50%;
  height: 700px;
}

@media screen and (max-width: 1439px) {
  #landing {
    background-image: none;
    background-color: #536E9F;
  }

  .portfolio__hero h2 {
    font-size: 60px;
  }

  .portfolio__content h3 {
    font-size: 48px;
  }

  .nav__burger {
    display: flex;
  }

  .portfolio__content--left {
    flex-wrap: wrap-reverse;
  }
}
@media screen and (max-width: 399px) {
  .button {
    width: 100%;
  }

  .nav__links {
    display: none;
  }

  .portfolio__hero h2 {
    font-size: 48px;
  }

  .portfolio__content h3 {
    font-size: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
