.signature {
  font-family: "Sacramento", cursive;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #1670A3;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  max-width: 40em;
  max-width: 32em;
  color: #1f1f1f;
}

h1, h2, h3 {
  font-family: "Lato", sans-serif;
}

a.button {
  display: flex;
  bottom: 2rem;
  border: none;
  border-radius: 0;
  transition-duration: 0.4s;
  padding: 2rem;
  background-color: #1f1f1f;
  z-index: 1;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: black;
}

.icon {
  height: 32px;
  width: 32px;
  margin: 8px;
  box-sizing: border-box;
}

.header a {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  background-color: #394c70;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  height: 100%;
  display: flex;
  list-style: none;
}

li {
  padding: 0 20px;
  display: inline;
}

header a:hover {
  border-bottom: 2px solid black;
}

.header {
  position: sticky;
  height: 3.5rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #1c2736;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 1;
}
.header .signature {
  color: #f1f1f1;
}
.header__links li a {
  color: #f1f1f1;
}

h1 {
  font-size: 1.5em;
  padding: 1em;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-items: space-between;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 15vh;
  background-color: #1c2736;
}
.footer a {
  font-size: 1em;
  color: #f1f1f1;
}
.footer h3 {
  text-transform: uppercase;
  color: #f1f1f1;
}
.footer p {
  color: #f1f1f1;
  max-width: 20em;
}
.footer__button {
  height: fit-content;
  width: fit-content;
  padding: 8px;
  margin: 1em;
  font-weight: 100;
}
.footer #linkedin {
  background-color: #536E9F;
  color: #f1f1f1;
}
.footer #email {
  background-color: #EB6B74;
}

#landing {
  height: 100vh;
  padding: 2vh 5vw;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  background-size: cover;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 4vw;
  color: #f1f1f1;
}
.about h1, .about h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: fit-content;
  font-size: 2rem;
  font-weight: 800;
  padding: 0;
  text-transform: uppercase;
}
.about h2 {
  font-size: 1.4rem;
  font-weight: 100;
}
.about p {
  color: #f1f1f1;
  max-width: 22em;
}

#signature {
  width: 100px;
  height: auto;
  stroke: #1f1f1f;
  stroke-width: 15;
}

.signature {
  font-size: 1.5rem;
  height: auto;
  padding: 0.5rem;
  color: white;
}

.portfolio {
  position: relative;
  background-color: #1c2736;
  color: white;
}
.portfolio p {
  padding: 0.5rem;
  color: #f1f1f1;
  position: relative;
  background-color: #1c2736;
}
.portfolio h3 {
  font-size: 2rem;
  padding: 0.5rem;
}
.portfolio h4 {
  padding: 0.5rem;
  font-family: lato;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
}
.portfolio h5 {
  padding: 0.5rem;
  font-family: lato;
  font-size: 12px;
  font-weight: 300;
}
.portfolio__hero {
  position: relative;
  background-color: #394c70;
  height: 70vh;
}
.portfolio__hero h2 {
  font-size: 3em;
  position: absolute;
  bottom: 4rem;
  width: 100%;
  height: calc(50% - 0.5em);
  text-align: center;
  z-index: 1;
}
.portfolio__background {
  height: 100%;
  opacity: 0.2;
  background-size: cover;
  background-attachment: fixed;
}
.portfolio__bar {
  height: 0.5rem;
}
.portfolio__content {
  display: flex;
  height: 100vh;
  align-content: center;
}
.portfolio__content .image {
  width: 60%;
}
.portfolio__content .image img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__content .description {
  width: 40%;
  width: 40%;
  align-self: center;
}
.portfolio__content .description .categories {
  display: flex;
  flex-direction: row;
}
.portfolio__content .description .title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #1670A3;
  align-items: baseline;
}
.portfolio__content--left {
  display: flex;
}
.portfolio__content--left .description {
  padding-left: 120px;
}
.portfolio__content--left .description .title {
  margin-right: 1rem;
}
.portfolio__content--left .description .categories {
  justify-content: flex-start;
}
.portfolio__content--left .description p {
  margin-right: 1rem;
}
.portfolio__content--right {
  display: flex;
}
.portfolio__content--right .description {
  padding-right: 120px;
}
.portfolio__content--right .description .title {
  margin-left: 1rem;
}
.portfolio__content--right .description .categories {
  margin-left: 1rem;
}
.portfolio__content--right .description p {
  margin-left: 1rem;
}
.portfolio__button {
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  width: fit-content;
  align-self: center;
  margin: auto;
  margin-top: 2rem;
  transition-duration: 0.4s;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color: #EB6B74;
  z-index: 1;
  color: white;
}
.portfolio__button .close {
  display: none;
}
.portfolio__button:hover {
  background-color: #FEB48B;
}

button:hover {
  background-color: black;
}

.animate-top {
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes animatetop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.loading-animation {
  opacity: 0;
  animation-name: loading;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.animation-fade-in {
  opacity: 1;
  animation: fade-in 2s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#naturbasen-prototype {
  border: none;
  width: 50%;
  height: 700px;
}

/*# sourceMappingURL=style.css.map */
