@font-face {
  font-family: aldoTheApache;
  src: url(AldotheApache.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: #23233d;
}

h2, h3, h4, p, .line, .container, section, .margin, em {
  margin-bottom: 1rem;
  color: whitesmoke;
}

table, .row {
  margin-bottom: 3em;
}

.header {
  background-color: #171730;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.nav a {
  color: whitesmoke;
  font-family: "Sen", sans-serif;
  font-size: 1rem;
}
.nav--top {
  position: sticky;
  top: 0;
  width: 100%;
  height: 2.5em;
  background-color: #23233d;
  z-index: 2;
  box-shadow: rgba(23, 23, 48, 0.1) 0 2px 2px, rgba(23, 23, 48, 0.5) 0 4px 16px;
}
.nav--top li a {
  list-style: none;
  text-align: center;
  padding: 0 5px;
  text-decoration: none;
  margin: 1em;
}
.nav--side {
  font-size: 24px;
  padding: 1em;
  position: fixed;
  top: 0px;
  height: 100%;
  background-color: #171730;
  width: 400px;
}
.nav--side ul {
  display: block;
  width: 100%;
  padding: 1em;
}
.nav--side ul li {
  display: block;
  width: 100%;
  line-height: 2em;
}
.nav--side ul li a {
  display: block;
  width: 100%;
  text-align: left;
}
.nav__links {
  padding: 0.5em;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

.practical {
  padding: 60px;
}
.practical p {
  font-family: "Sen", sans-serif;
}

p {
  color: whitesmoke;
  font-family: "Roboto mono", monospace;
  font-weight: lighter;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: justify;
  align-self: center;
  max-width: 32em;
}

a {
  color: #73cef1;
  font-family: "Roboto mono", monospace;
  text-decoration: none;
}

a:hover {
  transition: 0.2s ease-in-out;
  color: #ee7aa5;
}

h1 {
  font-family: aldoTheApache;
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
}

h2 {
  font-family: "Sen", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
}

h3 {
  font-family: "Sen", sans-serif;
  font-size: 2rem;
  text-align: center;
}

h4, th {
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-size: 1rem;
  padding: 0.25em;
  width: fit-content;
  text-shadow: 1px 1px 6px #171730;
}

em {
  color: whitesmoke;
  line-height: 1.5em;
  text-align: center;
}

td {
  font-family: "Sen", sans-serif;
  color: white;
  padding: 0 40px;
}

section {
  padding: 4em;
  padding-top: 8em;
  padding-bottom: 4em;
}

button {
  background-color: #ee7aa5;
  border: 8px solid #23233d;
  border-radius: 12px;
  font-size: 1em;
  padding: 4px 8px;
  width: fit-content;
  z-index: 1;
}
button a {
  color: whitesmoke;
  text-decoration: none;
}
button:hover {
  transition: 0.2s;
  background-color: #ff9fc2;
}
button:hover a {
  color: white;
}

.footer {
  font-size: 12px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  background-color: #171730;
  padding: 3em;
  justify-content: space-around;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__contact div p {
  font-family: "Sen", sans-serif;
  line-height: 1.5em;
  text-align: left;
}
.footer__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.footer__media img {
  height: 40px;
  margin: 4px;
  object-fit: contain;
  width: auto;
}

.line {
  width: 100%;
  position: relative;
  padding-right: 150px;
}

.line:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 100%;
  border-bottom: 1px solid white;
}

img {
  object-fit: cover;
  width: 100%;
}

.table {
  width: 100%;
  border: 1px solid white;
}
.table__time {
  width: 20%;
}
.table__activity {
  width: 30%;
}
.table__place {
  width: 30%;
}

td {
  font-size: 1rem;
  padding: 0.5em 1em;
}

th {
  width: fit-content;
}

.flex {
  display: flex;
  justify-content: center;
}

.container {
  align-self: center;
}

.blueHighlight {
  color: white;
  background-color: #73cef1;
}

.pinkHighlight {
  color: white;
  background-color: #ee7aa5;
}

.orangeHighlight {
  color: white;
  background-color: #f9b576;
}

.shadow {
  box-shadow: 12px 12px 0 #171730;
}

.heart {
  font-size: 1.2em;
  color: #ee7aa5;
  text-shadow: 2px 2px 0 #171730;
}

.row {
  display: flex;
  width: 100%;
  padding-left: 4em;
  flex-flow: row wrap;
}

.col {
  display: flex;
  flex-direction: column;
  padding-right: 4em;
}
.col--1 {
  width: 100%;
}
.col--2 {
  width: 50%;
}

.banner {
  background-image: url("../img/Intro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
}

.sponsors {
  background-color: #ee7aa5;
  margin: 0;
}

.hofContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 0 80px 80px 80px;
  justify-content: center;
}

.hofElement {
  display: flex;
  flex-flow: column nowrap;
  background-color: black;
  width: 20%;
  font-family: "aldo the apache", sans-serif;
  font-size: 2em;
  overflow: hidden;
  border: 2px solid white;
  justify-content: space-between;
}

.hofImage {
  display: flex;
  width: 100%;
  object-fit: contain;
  transform: scale(0.95);
  filter: grayscale(100%);
  margin: 0;
}

.active {
  filter: none;
}

.hofImage:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1);
  filter: grayscale(0%);
}

.hofYear {
  opacity: 1;
  z-index: 1;
  width: 100%;
  background-color: #23233d;
  color: whitesmoke;
  margin: 0;
}
.hofYear h3 {
  font-size: 0.8em;
  text-align: center;
  font-family: "aldo the apache", sans-serif;
  margin: 0;
  padding: 0.2em;
}

#hofDescription {
  width: 100%;
  padding: 0 80px;
}

.hofEntry {
  display: none;
  flex-direction: column;
  padding: 40px;
}
.hofEntry h2 {
  font-family: "aldo the apache", sans-serif;
}
.hofEntry h3 {
  font-family: "Playball", cursive;
}
.hofEntry h4 {
  align-self: center;
}

#logo {
  display: none;
  position: fixed;
  top: 15px;
  left: 0;
  height: 40px;
}

.header__logo {
  padding: 8px;
}

.orangeBackground {
  position: absolute;
  top: 33%;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.nav__burger {
  position: absolute;
  display: none;
  padding: 2px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nav__burger div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav__burger div div {
  width: 100%;
  height: 2px;
  background-color: white;
}

ul.nav__links.open {
  display: flex;
  height: fit-content;
  width: 100vw;
}

/*# sourceMappingURL=styles.scss.map */

/*# sourceMappingURL=styles.css.map */
