* {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
}

section {
  position: relative;
  z-index: 0;
}

#somebar {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 50%;
  padding: 16px;
  display: flex;
}
#somebar:hover .container {
  transform: translate(0, 0);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}
#somebar:hover .container svg {
  opacity: 1;
}
#somebar .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 0;
  transition: transform 0.5s ease-in-out;
  border-radius: 24px;
  background-color: white;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}
#somebar .container--active {
  transform: translate(0, 0);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}
#somebar .container--inactive {
  transform: translateX(40px);
}
#somebar .container--inactive svg {
  opacity: 0;
}
#somebar svg {
  transition: opacity 0.5s ease-in-out;
  margin: 8px;
}

header, footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
header ul, footer ul {
  display: flex;
  list-style: none;
}
header li, footer li {
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  font-size: 0.875rem;
  padding-left: 40px;
}
header li:hover, footer li:hover {
  opacity: 0.8;
}
header a, footer a {
  text-decoration: none;
}

.header {
  position: sticky;
  z-index: 10;
  width: 100%;
  float: left;
  top: 0;
  transition: top 0.4s ease-out, background-color 0.4s ease-in-out;
}
.header h1 {
  color: white;
  font-family: "Rock Salt", cursive;
  font-size: 1rem;
  font-weight: 300;
}
.header .burger, .header .burger--collabsed, .header .burger--open {
  display: none;
  fill: #681d36;
}
.header .burger--open {
  position: absolute;
  top: 24px;
  right: 16px;
}
.header--scrolling {
  top: -70px;
}

@media screen and (max-width: 768px) {
  #header {
    top: 0;
  }
  #header .burger--collabsed {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #681d36;
    justify-content: center;
    align-items: center;
  }
  .nav-links ul {
    display: inline;
  }
  .nav-links li {
    font-size: 1rem;
    padding: 16px;
  }
}
.nav-links--open {
  display: flex;
}

body {
  overflow-x: hidden;
}

.hero {
  position: relative;
  color: white;
  padding: 16px 32px;
  height: 100vh;
  width: 100vw;
  box-shadow: 0 4px 16px 8px rgba(0, 0, 0, 0.2);
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}
.hero h2 {
  font-family: "Jost", sans-serif;
  font-size: 5rem;
  width: 400px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 60px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.brands {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
.brands .container {
  padding: 40px;
  display: flex;
  justify-content: space-around;
}
.brands img {
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease-in-out;
}
.brands img:hover {
  transform: scale(1.1);
  filter: none;
}

#brands-2 {
  margin: 80px 120px;
}
#brands-2 h1 {
  padding: 16px;
  font-family: "Jost", sans-serif;
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  font-weight: 600;
}
#brands-2 b {
  font-size: 1.75em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 12px;
}
#brands-2 .container {
  flex-wrap: wrap;
}
#brands-2 img {
  width: 80px;
  height: 80px;
  margin: 16px;
}

#om {
  padding: 120px 160px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 16px 8px rgba(0, 0, 0, 0.2);
}
#om h1 {
  font-family: "Jost", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}
#om .container {
  margin-top: -3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#om p {
  font-family: "Raleway", sans-serif;
  max-width: 32rem;
  text-align: right;
  padding: 40px 16px;
}
#om img {
  height: 280px;
  width: auto;
  margin: 0 32px;
}

#hook-1 {
  display: flex;
}
#hook-1 .container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 100%;
  margin: auto;
}
#hook-1 h1 {
  font-family: "Jost", sans-serif;
  font-size: 2.25rem;
  padding: 24px;
  font-weight: 500;
}
#hook-1 p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5rem;
  max-width: 32rem;
  padding: 24px;
}
#hook-1 img {
  width: 33%;
  height: auto;
}

#udtalelser {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  overflow: none;
  box-shadow: 0 4px 16px 8px rgba(0, 0, 0, 0.2);
  z-index: 0;
}
#udtalelser img {
  border-radius: 100%;
}
#udtalelser h1 {
  font-family: "Jost", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 32px;
}
#udtalelser h2 {
  font-family: "Jost", sans-serif;
  margin-top: 16px;
  padding: 0 8px;
  font-weight: 300;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
#udtalelser h3 {
  font-family: "Jost", sans-serif;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}
#udtalelser p {
  font-family: "Raleway", sans-serif;
  max-width: 32rem;
  text-align: center;
  padding: 24px;
  opacity: 0.8;
}
#udtalelser .bla {
  display: flex;
}
#udtalelser .container {
  padding: 80px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#udtalelser img {
  transition: box-shadow 0.2s;
}
#udtalelser img:hover {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}
#udtalelser .active img {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}
#udtalelser .inactive {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out, margin 0.4s ease-in-out;
}
#udtalelser .inactive:hover {
  opacity: 0.75;
  margin-top: -8px;
  margin-bottom: 8px;
}
#udtalelser .inactive:hover img {
  transition: box-shadow 0.2s;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

#hook-2 {
  padding: 80px 120px;
  font-size: 2.25rem;
  text-align: right;
  width: 100vw;
  display: flex;
}
#hook-2 h1 {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 16px;
}
#hook-2 p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  padding: 16px;
}
#hook-2 .container {
  display: flex;
  padding: 24px;
  height: 100%;
  flex-direction: column;
  align-self: center;
}

#cases {
  padding: 80px 160px;
  box-shadow: 0 4px 16px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}
#cases h1 {
  font-family: "Jost", sans-serif;
  font-size: 4rem;
  font-weight: 600;
}
#cases h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
#cases .container {
  display: flex;
}

.case-placeholder {
  background-color: black;
  opacity: 0.5;
  height: 350px;
  width: 310px;
  margin: 16px;
}
.case-placeholder:first-child {
  margin-left: 0;
}

.stemning {
  width: 100vw;
  padding: 160px 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("gaamed.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: grayscale(100%);
  opacity: 0.9;
}
.stemning h1 {
  color: white;
  margin: 32px;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  font-style: oblique;
  font-weight: 600;
  text-align: center;
}
.stemning p {
  color: white;
  max-width: 32em;
  font-family: "Raleway", sans-serif;
  line-height: 2em;
  text-align: center;
  margin: 16px auto;
}
.stemning .button {
  margin: 32px auto;
  color: white;
  border-color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}
.stemning .container {
  display: flex;
  flex-direction: column;
}

#kontakt {
  padding: 80px 120px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
#kontakt h1 {
  font-family: "Jost", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
#kontakt p {
  font-family: "Raleway", sans-serif;
  text-align: right;
  line-height: 1.5em;
  margin: 16px;
  max-width: 32rem;
}
#kontakt .container {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
}
#kontakt .profil {
  background-image: url("profil2.png");
  height: fit-content;
}
#kontakt .profil > div {
  width: 251px;
  height: 342px;
  opacity: 0.5;
  margin: 4px;
  border: 4px solid white;
}
#kontakt img {
  filter: none;
}

img {
  filter: grayscale(100%);
}

footer {
  margin: 0 80px;
  padding: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  justify-content: center;
}
footer li {
  color: #888888;
}
footer li:hover {
  color: black;
}

.button {
  font-family: "Jost", sans-serif;
  width: fit-content;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  padding: 8px 32px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  margin: 24px auto;
  transition: box-shadow 0.2s ease-in-out;
}
.button:hover {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.t {
  transition: transform 1s, opacity 1.5s;
  opacity: 0;
  transform: translateY(150px);
}
.t--on {
  opacity: 1;
  transform: translateY(0%);
}

.t-2 {
  transition: transform 1s, opacity 1.5s;
  opacity: 0;
  transform: translateY(-60px);
}
.t-2--on {
  opacity: 1;
  transform: translateY(0%);
}

/*# sourceMappingURL=style.css.map */
