@use 'atoms';

section{
    margin: 8px auto;
    font-size: 1.2rem;
    max-width: 32em;
}

.heading-1{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin-top: 64px;
}

.heading-2{
    // font-size: 2rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    margin: 16px;
}
