@use 'modules/atoms';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Noto+Serif:wght@700&family=Open+Sans:wght@400;800&family=Source+Serif+Pro:wght@700&display=swap');

$padding: 6em;

%serif{
    // font-family: 'Source Serif Pro', serif;
    font-family: 'Noto Serif', serif;
}

%sans-serif{
    font-family: 'Lato', sans-serif;
    //font-family: 'Open Sans', sans-serif;
}

%margin-top{
    margin-top: 2rem;
}

%padding-left{
    padding-left: 4em;
}

%padding-right{
    padding-right: $padding;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print{
    .a4{
        width: 100%;
    }

    .col--0{
        display: flex;
    }
}

html{
    font-size: 12px;
}

body{display: flex;
    align-content: center;
    justify-content: center;
    background-color: whitesmoke;
}



p, li, h3, h4 {
//  @extend %margin-top;
    @extend %sans-serif;
}



p{
    line-height: 1.5em;
    padding-left: 2em;
    // margin-top: 1em;
    // margin-bottom: 1.5em;
    max-width: 35rem;
    text-align: justify;
}

h1{
    @extend %serif;
    font-size: calc(1em * 1.41 * 1.41);
    text-align: center;
    color: atoms.$black;;
    margin-top: 4rem;
}

h2{
    text-align: center;
    font-style: oblique;
    font-weight: normal;
    line-height: 3rem;
}

h3{
    @extend %serif;
    font-size: 1.5rem;
    padding-left: 2rem;
    color: atoms.$black;
}

h4{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;

    padding-left: 2rem;
    margin-top: 1.5em;
    line-height: 2em;
    color: atoms.$black;
}

h5, h6{
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5em;

    padding-left: 2em;
    color: atoms.$black;
}

h6{
    font-style: oblique;
}

ul{
    li{
        display: inline-flex;
        width: 100%;
        list-style: none;
        padding-left: 2em;
        // margin: 1em;
    }
}

a{
    text-decoration: none;
    color: black;
}

.row{
    @extend %padding-right;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col{
    @extend %padding-left;
    display: flex;
    flex-direction: column;

    &--0{
        display: none;
        width: 5%;
        height: 100%;
        background-color: atoms.$black;
        margin: 0;
        content: "";
    }

    &--1{
        align-items: center;
        width: 95%;
    }

    &--2{
        width: 35%;
    }

    &--3{
        width: 60%;
    }
}

.profil{
    @extend %margin-top;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    &__billede{
        width: 120px;
        height: 120px;
        border-radius: 100%;
        margin: 0.5rem;
    }


    p{
        @extend %padding-left;
    }
}

.færdigheder{
    @extend %margin-top;
    display: flex;
    flex-direction: column;
    
    svg{
        margin: 1em;
        width: auto;
    }
        
    &__figma{
        height: 28px;
    }
    
    &__html, &__css, &__javascript{
        height: 32px;
    }
    
    &__sass{
        height: 22px;
        margin-top: 0em;
        transform: translateY(-8px);
        transform: translateX(-4px);
    }

    &__jquery{
        height: 18px;
    }
}

.referencer{
    @extend %margin-top;
}

.kontakt{
    @extend %margin-top;
    display: flex;
    flex-direction: column;
    align-items: center;

    h5{
        padding: 0;
    }
}

.erhvervs-erfaring{
    @extend %margin-top;
}

.relateret-erfaring{
    @extend %margin-top;
}

.uddannelse{
    @extend %margin-top;
}

hr{
    margin: 1rem;
    border: 0.5px solid #bbbbbb;
}

svg{
    width: 100%;
}