@use 'atoms';

$margin-big: 240px;
$margin-small: 80px;

$offset: 80px;
$offset-margin: 32px;
$padding: 32px;
$padding-big: 120px;

%lato-small-caps{
    font-family: atoms.$lato;
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: atoms.$grey-50;
    text-transform: uppercase;
}

%lora-heading{
    font-family: atoms.$lora;
    font-size: 1.25rem;
    line-height: 1.7rem;
    color: atoms.$grey-80;
}

.heading-1{
    font-size: 1.4rem;
    padding: 8px 0;
    color: atoms.$grey-80;
    font-weight: 300;
}

h2{
    font-family: atoms.$josefin-sans;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 125%;
    color: atoms.$grey-80;
}

h5{
    @extend %lora-heading;
    color: atoms.$grey-30;
    font-size: 0.8rem;
    text-align: right;
}

p{
    font-family: atoms.$lora;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.02rem;
    color: atoms.$grey-70;
    text-align: left;
    margin: 0.5rem 0;
}



section{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    padding: $padding-big 8px;
    
    .container{
        display: flex;
        flex-flow: row wrap;

        > div{
            max-width: 28rem;
            padding: $padding;

            // padding small?
            @include atoms.breakpoint(small){
                padding: 24px 16px;
            }
        }
    }
}

.intro{
    display: flex;
    padding-bottom: 0;

    h2{
        text-align: center;
    }

    h3{
        @extend %lato-small-caps;
        padding: 0 16px;
        padding-top: 8px;
        line-height: 1.5em;
        color: atoms.$grey-30;
        letter-spacing: 0.04rem;
        text-transform: none;
    }

    p{
        margin: 16px;
        max-width: 32em;
        font-size: 1.1em;
        text-align: left;
    }

    img{
        padding: 8px;
        margin: 16px;
        border-radius: 100%;
        object-fit: cover;
    }

    .container{
        justify-content: center;
        align-items: center;
    }

    .container:last-child{
        // margin-top: 80px;
        width: fit-content;
        margin: 32px auto;
        border-top: 1px solid rgba(black, 0.1);
    }

    @include atoms.breakpoint(small){

        h2{
            text-align: center;
        }
        
        p{
            text-align: justify;
        }
    }

    @include atoms.breakpoint(smallest){
        h3{
            width: 100%;
            text-align: center;
        }
    }
}

.education{
    background-color: rgba(black, 0.04);

    h3{
        @extend %lato-small-caps;
    }

    h4{
        @extend %lora-heading;
        color: atoms.$primary-strong;
    }

    h5{
        text-align: center;
        transform: translate(0, 0);
        width: auto;
        color: atoms.$grey-50;
        font-size: 0.9rem;
    }
}

.references{
    background-color: rgba(black, 0.04);    
    
    h3{
        @extend %lato-small-caps;
        color: atoms.$primary-weak;
        font-family: atoms.$lora;
        font-size: 0.9rem;
        line-height: 1.7rem;
    }

    h4{
        @extend %lora-heading;
        font-size: 1rem;
        color: atoms.$grey-70;
    }

    h5{
        transform: translate(0, 0);
        width: auto;
        color: atoms.$grey-50;
        font-size: 0.9rem;
        text-align: center;
    }
}

.offset{
    margin: 80px 0;

    h2{
        margin: 1rem $margin-big;
        font-size: 3.25rem;
        text-align: left;
    }

    h3{
        @extend %lato-small-caps;
    }

    h4{
        @extend %lora-heading;
    }

    h5{
        width: $offset;
        transform: translateX(-$offset-margin);
    }

    .container{
        justify-content: center;
        margin: 0 8px;
    }

    .item{
        margin-left: $offset + $offset-margin;
        width: 24rem;

        > div{
            display: flex;
            margin-left: -$offset;
            height: 28px;
        }
    }

    @include atoms.breakpoint(medium){
        h2{
            margin: 1rem 160px;
        }
    }

    @include atoms.breakpoint(small){

        h2{
            margin: 0 $offset-margin;
            font-size: 3rem;
        }

        h2, h3, h4, p{
            text-align: center;
        }

        h5{
            width: auto;
            transform: translate(0, 0);
            text-align: center;
        }

        .container{

            > div{

                > div{
                    text-align: center;
                    flex-direction: column-reverse;
                    margin-left: 0;
                    height: auto;
                }
            }
        }

        .item{
            margin: 8px;
        }
    }

    @include atoms.breakpoint(smallest){
        h2{
            font-size: 2.5rem;
        }
    }
}

.centered{
    text-align: center;

    h2{
        opacity: 0.9;
    }

    h4, h3{
        opacity: 0.8;
    }

    > div{
        justify-content: center;
        width: fit-content;
        margin: 0 auto;

        > div{
            max-width: 300px;
        }
    }
}

.skills{
    display: flex;
    flex-direction: column;
    background-color: rgba(atoms.$primary-weak, 0.75);

    h2{
        color: white;
        text-align: center;

    }

    h3{
        @extend %lora-heading;
        font-size: 1.5rem;
        line-height: 3rem;
        color: atoms.$white-toned;
        margin: 0;
    }

    h4{
        @extend %lato-small-caps;
        color: atoms.$white-toned;
    }

    .container{
        justify-content: space-around;
    }

    .item{
        justify-items: center;
        text-align: center;
    }

    .item:first-child{
        text-align: right;
    }

    .item:last-child{
        text-align: left;
    }

    @include atoms.breakpoint(small){

        .item{
            width: 100%;

            h3, h4{
                text-align: center;
            }
        }
    }
}

.header{
    opacity: 100%;
    margin: 0;
    z-index: 100;
    background-color: white;
}

.header-container{

    margin: 0 $margin-small;

    > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @include atoms.breakpoint(small){
        padding: 0 8px;
    } 

    @include atoms.breakpoint(smallest){
        padding: 0 $padding;
        margin: 0;
    }
}

main{
    margin: 0;
}

hr{
    margin: 0  $padding-big;

    @include atoms.breakpoint(small){
        margin: 0 $offset-margin;
    }
}

.footer{
    background-color: atoms.$black-portfolio;    
    padding: 80px $padding-big;

    a{
        padding: 16px;
        font-size: 0.9rem;
        margin: 0 16px;
        color: atoms.$hyperlink_on-black;
    }

    p{
        padding: 16px;
        max-width: 28em;
        margin: 0  auto;
        font-family: atoms.$lora;
        font-size: 0.8em;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.02rem;
        color: atoms.$grey-30;
        color: rgba(white, 0.4);
        text-align: center;
    }

    @include atoms.breakpoint(small){
        padding: 40px 16px;
    }
}