@use 'atoms';

$text-color: #858db8;


.heading-1, .subtitle{
    text-align: center;
}

.heading-1{
    color: atoms.$black-toned;
    font-size: 3.5rem;
    font-weight: 400;
}

.subtitle{
    font-size: 1.5rem;
    color: rgba(atoms.$primary-text, 1);
    font-family: atoms.$lato;
}

.lead{
    color: $text-color;
    font-size: 1.4rem;
    line-height: 1.5em;
    max-width: 28em;
    font-weight: 300;
    text-align: right;

    @include atoms.breakpoint(medium){
        font-size: 1.2rem;
    }

    @include atoms.breakpoint(small){
        text-align: center;
    }
}

.landing{
    box-shadow: atoms.$box-shadow-2;
    width: 50%;
    height: auto;

    @include atoms.breakpoint(small){
        width: 100%;
    }
}

.lead, .landing{
    margin: 32px;
}

.flex-cols{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 80px auto;

    @include atoms.breakpoint(small){
        flex-direction: column;
        margin: 40px auto;
    }
}

.flex-rows{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 80px auto;
    
    @include atoms.breakpoint(small){
        margin: 40px auto;
    }
}

main{
    margin: 64px 16px;
    margin-top: 160px;
}

.contact-info{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: atoms.$lato;
    font-size: 0.9rem;
    line-height: 1.5em;
    color: atoms.$grey-30; 
    color: $text-color;


    text-transform: uppercase; 
    a, p{
        display: inline;
        padding: 8px 24px;
    }
}

.alert{
    display: flex;
    font-size: 1.4rem;
    max-width: 30em;
    margin: 16px;

    svg{
        align-self: center;
        opacity: 0.8;
        margin: 8px;
    }

    p, a{
        font-family: atoms.$source-sans-pro;
        font-weight: 300;
        letter-spacing: 0.03em;
        line-height: 150%;
        text-align: left;

    }
    
    p{
        padding: 0 1rem;
        color: $text-color;
    }

    a{
        padding-left: 4px;
    }

    em{
        font-style: italic;
        color: atoms.$primary-strong;
    }

    @include atoms.breakpoint(smallest){
        bottom: 0;
        p, a{
            text-align: left;
        }
    }
}