@use 'atoms';

main{
    display: flex;
    justify-content: center;
    margin: 0;

    @include atoms.breakpoint(small){
        margin: 0;

        .image-container{
            position: relative;
        }
    }
}

.content{
    padding: 0;
}

.heading-1{
    font-size: 3rem;
}

.heading-2{
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    text-align: center;

    @include atoms.breakpoint(smallest){
        font-size: 1.7rem;
    }
}

.subtitle{
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
    font-weight: normal;
}

.type{
    margin-bottom: 0.5rem;
}

.body-copy{
    text-align: left;
    text-align: center;
    font-family: atoms.$lora;
    font-size: 1rem;
    color: atoms.$grey-70;

    @include atoms.breakpoint(smallest){
        font-size: 20px;
    }
}

.heading-3, .topics{
    display: inline-block;
}

.cases{
    display: flex;
    flex-direction: column;
    margin: 40px 0;

    .case:first-child{
        margin-top: 0;
    }

    .case:last-child{
        margin-bottom: 0;
    }
}

.case{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin: 80px;
    position: relative;

    >div{
        width: 50%;
    }

    .text-container{
        margin: 0 1rem;
        align-self: center;

        p{
            max-width: 32em;
            margin: 0 auto;
        }
    }

    .image-container{
        display: flex;
        justify-content: center;
    }

   .button{
        display: block;
        color: white;
        font-size: 1rem;
        transition: background-color 200ms, box-shadow 200ms ease-in-out;
    }

    &--right{
        @extend .case;
        margin: 80px 0;
        .text-container{
            margin: 0 80px;
        }
    }

    &--reverse{
        @extend .case;
        flex-direction: row-reverse;
    }

   @include atoms.breakpoint(medium){

        > div{
            width: 100%;
        }

        .text-container{
            margin: 4rem;
        }
   }

    @include atoms.breakpoint(small){
        margin: 64px 16px;
        flex-direction: column-reverse;



        .text-container{
            margin-bottom: 64px;
            p{
                font-size: 1rem;
            }
        }
    }

}


img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    
    &.bordered{
        border-radius: 4px;
        border: 1px solid atoms.$border-color; 
        box-shadow: atoms.$box-shadow-2;
        padding:8px;
        background-color: white;
    }
}

@include atoms.breakpoint(small){
    .content{
        margin: 0;
    }

    .cases{
        margin-bottom: 0;
    }
}

#ascendant-games{
    .subtitle{
        color: atoms.$ascendant-games;
    }
    .button{
        background-color: rgba(atoms.$ascendant-games, 0.7);
        &:hover{
            background-color: rgba(atoms.$ascendant-games, 0.85);
        }
    }
}

#flyfotos{
    .mobile{
        display: none;
    }
    @include atoms.breakpoint(small){
        .big{
            display: none;
        }
       .mobile{
           display: flex;
       }
    }

    .subtitle{
        color: atoms.$flyfotos;
    }
    .button{
        background-color: rgba(atoms.$flyfotos, 0.7);
        &:hover{
            background-color: rgba(atoms.$flyfotos, 0.85);
        }
    }
}

#naturbasen{
    .subtitle{
        color: atoms.$naturbasen;
    }
    .button{
        background-color: rgba(atoms.$naturbasen, 0.7);
        &:hover{
            background-color: rgba(atoms.$naturbasen, 0.85);
        }
    }
}

#musical-composition{
    .subtitle{
        color: atoms.$musical-composition;
    }
    .button{
        background-color: rgba(atoms.$musical-composition,0.7);
        &:hover{
            background-color: rgba(atoms.$musical-composition,0.85);
        }
    }
}

#icu{
    .subtitle{
        color: atoms.$icu;
    }
    .button{
        background-color: rgba(atoms.$icu, 0.7);
        &:hover{
            background-color: rgba(atoms.$icu, 0.85);
        }
    }
}