$icomoon-font-family: "portfolio-icon" !default;
$icomoon-font-path: "/resources/fonts" !default;

$icon-close--bg-path1: "\e902";
$icon-close--bg-path2: "\e903";
$icon-close--bg-path3: "\e904";
$icon-close--bg-path4: "\e905";
$icon-close: "\e900";
$icon-download: "\e901";

