
// Colors
$orange: rgb(249, 181, 118);
$orangetransparent: rgba(49, 208, 118, 0.5); 
$orangeshadow: #B48137;
$pink: #ee7aa5;
$pinktransparent: #e988ac80;
$pinkshadow: #63293e; 
$pinkHighlight: rgb(255, 159, 194);
$blue: #73cef1;
$bluetransparent: rgba(115, 206, 241, 0.5);
$blueshadow: #284e5e;
$dark1: #171730;
$dark2: #23233d;
