@use 'colors';

@font-face {
  font-family: aldoTheApache;
  src: url(AldotheApache.ttf);
}

// Margins
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 16px;
}

body{
  background-color:  colors.$dark2;
}

h2, h3, h4, p, .line, .container, section, .margin, em{
  margin-bottom: 1rem;
  color: whitesmoke;
}

table, .row{
  margin-bottom: 3em;
}

.header {

  background-color: colors.$dark1;
  // background-color: rgba($color: #000000, $alpha: 0.0);
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.banner {
  background-image: url("./img/Intro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  // position: absolute;
  // top: 0;
}

.sponsors{
  background-color: colors.$pink;
  margin: 0;
}

.nav{

  a{      
    color: whitesmoke;
    font-family: 'Sen', sans-serif;
    font-size: 1rem;
  }
  
  &--top{
    position: sticky;
    top:0;
    width: 100%;
    height: 2.5em;
    background-color: colors.$dark2;
    z-index: 2;
    box-shadow: rgba(colors.$dark1, $alpha: 0.1) 0 2px 2px, rgba(colors.$dark1, $alpha: 0.5) 0 4px 16px;

    li a {
      list-style: none;
      text-align: center;
      padding: 0 5px;
      text-decoration: none;
      margin: 1em;
    }
  }

  &--side{
    font-size: 24px;
    padding: 1em;
    
    position: fixed;
    top: 0px;
    height: 100%;
    background-color: colors.$dark1;
    width: 400px;
  
    ul{
      display: block;
      width: 100%;
      padding: 1em;
  
      li{
        display: block;
        width: 100%;
        line-height: 2em;
       
        a{
          display: block;
          width: 100%;
          text-align: left;
        }
      }
    }
  }

  &__links{
    padding: 0.5em;
  }
}

.nav__burger{
  position: absolute;
  display: none;
  padding: 2px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nav__burger div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav__burger div div{
  width: 100%;
  height: 2px;
  background-color: white;
}

ul.nav__links.open{
  display: flex;
  height: fit-content;
  width: 100vw;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

.practical{
  padding: 60px;

  p{
    font-family: 'Sen', sans-serif;
  }
}

p {
  color: whitesmoke;
  font-family: 'Roboto mono', monospace;
  font-weight: lighter;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: justify;
  align-self: center;
  max-width: 32em;
}

a {
  color: colors.$blue;
  font-family: 'Roboto mono', monospace;
  text-decoration: none;
}

a:hover{
  transition: 0.2s ease-in-out;
  color: colors.$pink;
}

h1 {
  font-family: aldoTheApache;
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
}

h2 {
  font-family: 'Sen', sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
}

h3{
  font-family: 'Sen', sans-serif;
  font-size: 2rem;
  text-align: center;
}

h4, th{
  text-transform: uppercase;
  font-family: 'Sen', sans-serif;
  font-size: 1rem;
  padding: 0.25em;
  width: fit-content;
  text-shadow: 1px 1px 6px colors.$dark1;
}

em{
  color: whitesmoke;
  line-height: 1.5em;
  text-align: center;
}

td{
  font-family: 'Sen', sans-serif;
  color: white;
  padding: 0 40px;
}

section {
  padding: 4em;
  padding-top: 8em;
  padding-bottom: 4em;
}

button{
  background-color: colors.$pink;
  border: 8px solid colors.$dark2;
  border-radius: 12px;
  font-size: 1em;
  padding: 4px 8px;
  width: fit-content;
  z-index: 1;
  a{
    color: whitesmoke;
    text-decoration: none;
  }
  // box-shadow: 1px 1px 0 $pinkshadow, 2px 2px 0 $pinkshadow, 3px 3px 0 $pinkshadow, 4px 4px 0 $pinkshadow;
  
  &:hover{
    transition: 0.2s;
    background-color: colors.$pinkHighlight;
    a{
      color: white;
    }
  }
}

.footer{
  font-size: 12px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  background-color: colors.$dark1;
  padding: 3em;
  justify-content: space-around;
  
  &__contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //max-width: 350px;

    div p{
      font-family: 'Sen', sans-serif;
      line-height: 1.5em;
      text-align: left;
    }

  }
  
  &__media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    img{
      height: 40px;    
      margin: 4px;
      object-fit: contain;
      width: auto;
    }
  }
}

.line{
  width: 100%;
  position: relative; 
  padding-right: 150px
}

.line:before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 100%;
  border-bottom: 1px solid white;
}

img{
  object-fit: cover; 
  width: 100%; 
}

.table{
  width: 100%;
  border: 1px solid white; 

  &__time{
    width: 20%;
  }

  &__activity{
    width: 30%;
  }

  &__place{
    width: 30%;
  }
}

td{
  font-size: 1rem;
  padding: 0.5em 1em;
}

th{
  width: fit-content;
}

.flex{
  display: flex;
  justify-content: center;
}

.container{
  align-self: center;
}

.blueHighlight{
  color: white;
  background-color: colors.$blue;
}

.pinkHighlight{
  color: white;
  background-color: colors.$pink;
}

.orangeHighlight{
  color: white;
  background-color: colors.$orange;
}

.shadow{
  box-shadow: 12px 12px 0 colors.$dark1;
}

.heart{
  font-size: 1.2em;
  color: colors.$pink;
  text-shadow: 2px 2px 0 colors.$dark1;
}

.row{
  display: flex;
  width: 100%;
  padding-left: 4em;
  flex-flow: row wrap;
}

.col{
  display: flex;
  flex-direction: column;
  padding-right: 4em;
  
  &--1{
    width: 100%;
  }

  &--2{
    width: 50%;
  }
}


#logo{
  display: none;
  position: fixed;
  top: 15px;
  left: 0;
  height: 40px;
}

.header__logo{
  padding: 8px;
}

.orangeBackground{
  position: absolute;
  top: 33%;
  //background-color: $orange;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

  /*# sourceMappingURL=styles.scss.map */
