*{
    margin: 0;
}

@mixin breakpoint ($point) {
    @if $point == smallest {
        @media screen and (max-width: 481px){
            @content;
        }
    }

    @else if $point == small {
        @media screen and (max-width: 768px){
            @content;
        }
    }

    @else if $point == medium {
        @media screen and (max-width: 1024px){
            @content;
        }
    }

    @else if $point == big {
        @media screen and (max-width: 1388px){
            @content;
        }
    }
}

/* Colors */
$black-full: #000000;
$black-almost: #1E2834;
$black-toned: #393D49;
$grey-50: rgba(#000000, 0.5);
$grey-30: rgba(#000000, 0.3);
$white-full: #FFFFFF;
$white-almost: #F5F5F5;
$white-toned: #EDEDED;
$white-70: rgba(white, 0.7);
$hyperlink: #1158BF;
$primary-weak: #475bc3;
$primary-strong: #664DC0;
$primary-text: #B5A3F9;
$primary-weak_on-black: #A0AFFF;
$ascendancy-games: #7cc96d;
$flyfotos: #6a9ace;
$naturbasen: #789fe6;
$musical-composition: #fab16c;
$icu: #ff4848;



/* Fonts */
$cardo: 'Cardo', serif;
$lora: 'Lora', serif;
$josefin-sans: 'Josefin Sans', sans-serif;
$lato: 'Lato', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;

/* Text Components */
.body-copy{
    font-family: $cardo;
    font-family: $lora;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 150%;
    letter-spacing: 0.02rem;
    color: $black-almost;
}

.heading-1, .heading-2, .heading-3{
    font-family: $josefin-sans;
}

.heading-1{
    font-size: 2.125rem;
    font-size: 2.25rem;
    line-height: 40px;
    line-height: 100%;
    font-weight: bold;
    // text-transform: uppercase;
    color: $black-full;
}

.heading-2{
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 40px;
    color: $black-almost;
}

.heading-3{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: $josefin-sans;
    color: $black-almost;
}

.lead{
    font-family: $source-sans-pro;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-style: italic;
    font-weight: 300;
    color: $grey-50;
    text-align: center;
}

.hyperlink{
    font-family: $lora;
    color: $hyperlink;
    font-weight: 700;
}

.topics{
    font-family: $source-sans-pro;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.type{
    font-family: $source-sans-pro;
    font-size: 1.5rem;
    font-weight: 600;
}

.navigation-link, .button{
    font-family: $lato;
    font-size: 1.125rem;
    font-size: 1.1rem;
}

.button{
    font-family: $lato;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $grey-30;
    letter-spacing: 0.05rem;
    transition: color 200ms;
    cursor: pointer;

    &:hover{
        color: $black-toned;
    }
}

.subtitle{
    font-family: $cardo;
    font-family: $lora;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 100%;
    font-weight: normal;
    color: $grey-30;
}

.outline-item{

    font-family: $source-sans-pro;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.05rem; // 5%
    font-weight: 200;
    color: $grey-50;

    &--selected{
        font-weight: 400;
        color: $black-almost;
    }
}

.icon{
    padding: 8px;
}

figcaption{
    font-family: $lato;
    font-size: 0.8rem;
    letter-spacing: 0.015rem;
    color: $grey-30;
    line-height: 1rem;
    margin: 0.5rem;
}

