@use 'atoms';
    
body, .header{
    background-color: rgb(27, 32, 39);
    background-color: rgb(37, 42, 49);
}

.header-container{
    margin: 0 120px;

    @include atoms.breakpoint(small){
        margin: 0 32px;
    }
}

main{
    display: flex;
    justify-content: center;
    margin: 0 120px;

    @include atoms.breakpoint(small){
        margin: 0;

        .image-container{
            position: relative;
        }
        
        img{
            border-radius: 0%;
        }
    }
}


.heading-1, .button{
    color: atoms.$white-full;
}

.heading-2, .heading-3, .topics, .type{
    color: atoms.$white-almost;
}

.heading-2{
    margin-bottom: 0.25rem;
    font-size: 2.7rem;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: left;
    text-align: center;

    @include atoms.breakpoint(smallest){
        font-size: 1.7rem;
    }
}

.subtitle{
    color: atoms.$grey-30;
    color: rgba(atoms.$primary-weak_on-black, 0.9);
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: normal;
    // display: inline-block;
}

.type{
    margin-bottom: 0.5rem;
}

.body-copy{
    color: atoms.$white-toned;
    text-align: left;
    text-align: center;
    font-family: atoms.$lora;
    margin-bottom: 1rem;
    font-size: 24px;

    @include atoms.breakpoint(smallest){
        font-size: 20px;
    }
}

.heading-3, .topics{
    display: inline-block;
}

.topics{
    display: none;
    color: atoms.$white-almost;
    font-size: 12px;
    padding: 2px 8px;
    border: 1px solid atoms.$white-almost;
    border-radius: 16px;
    margin-bottom: 0.5rem;
}

.header{
    position: sticky;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;

    .button{
        color: atoms.$white-70;
        padding-bottom: 4px;

        &:hover{
            color: white;
        }
    }

    &-container{
        width: 100%;
        justify-content: space-between;

        div:first-child{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
    }
}

.case{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 120px 0;
    
    > div{        
        min-width: 8rem;
        align-self: center;
        text-align: left;
    }

    .text-container{
        max-width: 24rem;
        margin: 0 1rem;
    }

    .image-container{
        width: fit-content;
    }

   &--1{
       flex-direction: row-reverse;
   }

   .button{
        font-size: 18px;
        text-align: center;
        color: atoms.$white-toned;
        width: fit-content;
        padding: 4px 16px;
        background-color: rgba(atoms.$primary-strong, 0.7);
        margin: 2rem auto;
        transition: background-color 200ms;
        
    }

   @include atoms.breakpoint(medium){
        flex-direction: column;

        &--1{
            // flex-direction: column-reverse;
        }

        .text-container{
            margin-bottom: 2rem;
        }

       .button{
           display: none;
       }
   }

    @media screen and (max-width: 1200px){
    
        margin: 80px 0;
        
        > div{
           min-width: 3rem;
        }
    }

    @include atoms.breakpoint(small){
        margin: 64px 0;

        .text-container{
            .body-copy{
                // display: none;
            }

            margin: 0;
        }
    }

}


.cases{
    display: flex;
    flex-direction: column;
    margin: 40px 0;

    .case:first-child{
        margin-top: 0;
    }

    .case:last-child{
        margin-bottom: 0;
    }
}


.image-placeholder, img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 4px;
}

hr{
    background-color: atoms.$black-toned;
    margin: 2rem 0;
}

@include atoms.breakpoint(small){
    .content, .header{
        margin: 0;
    }

    .cases{
        margin-bottom: 0;
    }
}

#ascendancy-games{
    .subtitle{
        color: atoms.$ascendancy-games;
    }
    .button{
        background-color: rgba(atoms.$ascendancy-games, 0.7);
        &:hover{
            background-color: rgba(atoms.$ascendancy-games, 0.85);
        }
    }
}

#flyfotos{
    .subtitle{
        color: atoms.$flyfotos;
    }
    .button{
        background-color: rgba(atoms.$flyfotos, 0.7);
        &:hover{
            background-color: rgba(atoms.$flyfotos, 0.85);
        }
    }
}

#naturbasen{
    .subtitle{
        color: atoms.$naturbasen;
    }
    .button{
        background-color: rgba(atoms.$naturbasen, 0.7);
        &:hover{
            background-color: rgba(atoms.$naturbasen, 0.85);
        }
    }
}

#musical-composition{
    .subtitle{
        color: atoms.$musical-composition;
    }
    .button{
        background-color: rgba(atoms.$musical-composition,0.7);
        &:hover{
            background-color: rgba(atoms.$musical-composition,0.85);
        }
    }
}

#icu{
    .subtitle{
        color: atoms.$icu;
    }
    .button{
        background-color: rgba(atoms.$icu, 0.7);
        &:hover{
            background-color: rgba(atoms.$icu, 0.85);
        }
    }
}