
// Variables
$black: #1f1f1f;
$white: #f1f1f1;
$blue: #1670A3;

$orange: #FEB48B;
$beige: #FFDEC8;
$dark-blue: #536E9F;
$dark-blue-2: #394c70;
$darker-blue: #1c2736;
$light-blue: #5992D6;
$dark-red: #EB6B74;
$light-red: #F28A83;

$cj: #23233d;;
$naturbasen: #1670A3;
$gn: #1F3C61;;


//  Extensions
%handwriting{
    // font-family: 'Alex Brush', cursive;
    // // font-family: 'Great Vibes', cursive;
    // font-family: 'Parisienne', cursive;
    font-family: 'Sacramento', cursive;
    // font-family: 'Stalemate', cursive;
}

a{
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: $blue;
}


p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    color: $black;

}

h1, h2, h3{
    font-family: 'Lato', sans-serif;
}




// Mixins

@mixin animation-name($value) {
    -webkit-animation-name: $value;
    animation-name: $value;
}

@mixin animation-duration($value) {
    -webkit-animation-duration: $value;
    animation-duration: $value;
}

@mixin transform($transforms){
    transform: $transforms;
    -webkit-transform: $transforms;
    -o-transform: $transforms;
    -moz-transform: $transforms;
}