@use 'atoms';

.button{
    box-shadow: 2px 2px 5px 0px rgba($color: #000000, $alpha: 0.2);
    transition-duration: 0.4s;
    text-align: center;
    justify-content: center;
    white-space: nowrap;

    a{
        color: white;
    }

}
    
button:hover{
    background-color: black;
}

.icon{
    height: 32px;
    width: 32px;
    margin: 8px;
    box-sizing: border-box;
}

.header{
    a{
        font-family: 'Lato', sans-serif;
        font-size: 0.8em;

    }
}