<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@400;600;700&family=Lato&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../Styles/Css/components.css">
    <link rel="stylesheet" href="../Styles/Css/portfolio-case.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- TITLE -->
    <title></title>
</head>

<!-- ID -->
<body id="">
    <div class="hero" style="background-image: url(../Resources/flyfotos/flyfotos-hero.jpeg);"></div>

    <main>        
        <div class="content">
            <div class="header" id="header">
                <div class="header-container">
                    <div>
                        <!-- HEADING -->
                        <h1 class="heading-1"></h1>
                    </div>
                    <div>
                        <!-- ROLE, COMPANY/CLIENT/STAKEHOLDER -->
                        <h2 class="subtitle"></h2>

                        <!-- DATE -->
                        <h2 class="date"></h2>
                    </div>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <a class="navigation-link" href="index.html"><li>Home</li></a>
                    <a class="navigation-link" href="portfolio.html"><li class="navigation-link--selected">Portfolio</li></a>
                    <a class="navigation-link" href="about.html" ><li>About Me</li></a>
                    <a class="navigation-link" href="pages/cv.html"><li>CV</li></a>
                </ul>
                <ul class="outline">
                    <li class="outline heading-3">Contents</li>

                    <!-- OUTLINE LINKS -->
                    <a class="outline outline-item" href="#sec1"><li></li></a>
                    <a class="outline outline-item" href="#sec2"><li></li></a>
                    <a class="outline outline-item" href="#sec3"><li></li></a>
                    <a class="outline outline-item" href="#sec4"><li></li></a>
                    <a class="outline outline-item" href="#sec5"><li></li></a>
                </ul>
            </div>   
            
            <div class="article">

                <!-- SECTIONS, ID -->
                <section>
                    <h2 class="heading-2" id="sec1"></h2>
                    <p class="body-copy"></p>
                </section>

                <section>
                    <h2 class="heading-2" id="sec2"></h2>
                    <p class="body-copy"></p>
                </section>

            </div>
        </div>

        <!-- Component -->
        <div class="about-info">
            <div class="container">
                <img src="../Resources/profil2.jpeg" alt="profile">

                <div class="flex">
                    <ul>
                        <li>Tobias Fridolin</li>
                        <li>MSc in Interaction Design</li>
                        <li>Currently living in Aalborg, Denmark</li>
                        <li><a class="hyperlink" href="mailto:tobiasfridolin@gmail.com" target="_blank">LinkedIn</a> <p>|</p> <a class="hyperlink"href="https://www.linkedin.com/in/tobias-fridolin/"> Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <hr>

    <!-- Component -->
    <div class="other-cases">
        <div>
            <a style="background-image: url('../Resources/Naturbasen.png');"></a>
            <p class="button">Next Case</p>
        </div>
        <div>
            <a class="button" style="background-image: url('../Resources/Naturbasen_Hero 1440x440.png');"> Previous Case </a>
        </div>
    </div>

    <!-- Component -->
    <div class="footer">
        <h1>~get in touch~</h1>
        <h2 class="heading-2">Let's Grab a Cup of Coffee</h2>
        <p class="body-copy">I am always up for meeting new people and hearing about new projects. Shoot me an email or send me a message on LinkedIn, and let’s talk over a cup of coffee.</p>
        <a class="button" href="https://www.linkedin.com/in/tobias-fridolin/">Connect on LinkedIn</a>
    </div>
    
</body>
</html>